*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/table.png);
  width: 658px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Exo 2", sans-serif;
  color: white;
}

button {
  background-color: #fff100;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.top {
  align-self: flex-start;
  display: flex;
}

.top p{
    padding: 0;
    margin: 0;
    align-self: center;
}

.new-deck {
  margin-right: 0.5em;
}

.new-cards {
  align-self: stretch;
}

.cards {
  margin: auto;
}

.cards img,
.card-slot {
  margin: 0.5em;
  width: 10em;
  height: 14em;
}

.cards img {
  display: flex;
  flex-direction: column;
}

.card-slot {
  border-radius: 5px;
  border: 2px solid black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: bold;
}
