*, *::before, *::after{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 550px;
    width: 550px;
    /* border: 1px solid #111827; */
    background-color: #FFFFFF;
}

h1{
    font-family: "Pacifico", cursive;
    color: #111827;
}

.form{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 19px;
}

.seed-color{
    width: 61px;
    height: 42px;
    border: 5px solid #D1D5DB;
}

select{
    font-size: 16px;
    color: #111827;
    padding: 10px 11px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #D1D5DB;
}

button{
    font-size: 16px;
    padding: 10px 11px;
    border: 2px solid #D1D5DB;
    color: #374151;
    background-color: #FFFFFF;
    border-radius: 3px;
}

button:hover{
    background-color: #bbbbbb;
}

.colors{
    display: flex;
}

.color{
    height: 414px;
    width: 110px;
    border: 1px solid sandybrown;
}

.color-code{
    height: 46px;
    width: 110px;
    border: 1px solid salmon;
}